<new-widget-form dashboard="dashboard"></new-widget-form>
<edit-dashboard-form dashboard="dashboard" id="edit_dashboard_dialog"></edit-dashboard-form>

<div ng-class="isFullscreen ? 'container-fluid' : 'container'" id="dashboard">
    <page-header title="{{dashboard.name}}">
      <span ng-if="!dashboard.is_archived && !public" class="hidden-print">
          <button type="button" class="btn btn-default btn-alt btn-sm" ng-class="{active: refreshEnabled}"
                  tooltip="Enable/Disable Auto Refresh" ng-click="triggerRefresh()"><span
            class="zmdi zmdi-refresh-sync"></span></button>
          <button type="button" class="btn btn-default btn-alt btn-sm" ng-class="{active: isFullscreen}"
                  tooltip="Enable/Disable Fullscreen display" ng-click="toggleFullscreen()"><span
            class="zmdi zmdi-fullscreen"></span></button>
      </span>
      <div class="btn-group" role="group" ng-show="dashboard.canEdit()">
          <button class="btn btn-sm btn-default btn-alt" tooltip="Share" ng-click="openShareForm()"><i class="fa fa-share-alt"></i></button>
          <button type="button" class="btn btn-default btn-sm btn-alt" data-toggle="modal" href="#edit_dashboard_dialog" tooltip="Edit Dashboard (Name/Layout)"><span
          class="zmdi zmdi-settings"></span></button>
          <button type="button" class="btn btn-default btn-sm btn-alt" data-toggle="modal"
          href="#add_query_dialog" tooltip="Add Widget (Chart/Table)"><span class="zmdi zmdi-plus"></span>
          </button>
          <button class="btn btn-danger btn-sm btn-alt" ng-click="archiveDashboard()" ng-if="!dashboard.is_archived" tooltip="Archive"><i class="fa fa-archive"></i></button>
      </div>
    </page-header>


    <div ng-repeat="row in dashboard.widgets" class="row">
        <div ng-repeat="widget in row" class="col-lg-{{widget.width | colWidth}}"
             ng-controller='WidgetCtrl'>

            <div class="tile" ng-if="type=='visualization'">
                <div class="t-header">
                    <div class="th-title">
                        <p class="hidden-print">
                            <span ng-hide="currentUser.hasPermission('view_query')">{{query.name}}</span>
                            <query-link query="query" visualization="widget.visualization" ng-show="currentUser.hasPermission('view_query')"></query-link>
                            <visualization-name visualization="widget.visualization"/>
                        </p>
                        <p class="visible-print">
                          {{query.name}}
                          <visualization-name visualization="widget.visualization"/>
                        </p>
                        <div class="text-muted" ng-bind-html="query.description | markdown"></div>
                    </div>
                  <div class="actions dropdown" dropdown ng-if="!public">
                    <a href="" data-toggle="dropdown" dropdown-toggle><i class="zmdi zmdi-more"></i></a>

                    <ul class="dropdown-menu pull-right" dropdown-menu style="z-index:1000000">
                      <li><a ng-disabled="!queryResult.getData()" query-result-link target="_self">Download as CSV File</a></li>
                      <li><a ng-disabled="!queryResult.getData()" file-type="xlsx" query-result-link target="_self" >Download as Excel File</a></li>
                      <li><a ng-href="queries/{{query.id}}#{{widget.visualization.id}}" ng-show="currentUser.hasPermission('view_query')">View Query</a></li>
                      <li><a ng-show="dashboard.canEdit()" ng-click="deleteWidget()">Remove From Dashbaord</a></li>
                    </ul>
                  </div>


                </div>

                <visualization-renderer visualization="widget.visualization" query-result="queryResult"></visualization-renderer class="t-body">

                <div class="panel-footer">
                    <span class="label label-default hidden-print">Updated: <span am-time-ago="queryResult.getUpdatedAt()"></span></span>
                    <span class="visible-print">
                      Updated: {{queryResult.getUpdatedAt() | dateTime}}
                    </span>
                </div>
            </div>

            <div class="panel panel-default rd-widget-textbox" ng-if="type=='restricted'">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h1><span class="glyphicon glyphicon-lock"></span></h1>
                                <p class="text-muted">
                                    This widget requires access to a data source you don't have access to.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default rd-widget-textbox" ng-hide="widget.width == 0" ng-if="type=='textbox'" ng-mouseenter="showControls = true" ng-mouseleave="showControls = false">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-11">
                            <p ng-bind-html="widget.text | markdown"></p>
                        </div>
                        <div class="col-lg-1">
                          <span class="pull-right" ng-show="showControls">
                              <button type="button" class="btn btn-default btn-xs" ng-show="dashboard.canEdit()" ng-click="deleteWidget()" title="Remove Widget"><span class="glyphicon glyphicon-trash"></span></button>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
